.Projects {
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}

.MoreProjects {
    margin-top: 4rem;
    text-align: center;
}

.SectionWrapper{
    position: relative;
}

.RedPaintWrapper {
    position: absolute;
    top: 8%;
    right: 4%;
    width: 250px;
    height: 250px;
    pointer-events: none;
    z-index: 5;
}

.RedPaintImage {
    width: 100%;
    height: 100%;
    background-image: url('/images/redPaint.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(110deg);
}

.YellowPaintWrapper {
    position: absolute;
    top: 23%;
    left: 2%;
    width: 250px;
    height: 250px;
    pointer-events: none;
    z-index: 5;
}

.YellowPaintImage {
    width: 100%;
    height: 100%;
    background-image: url('/images/yellowPaint.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-50deg);
}

.GreenPaintWrapper {
    position: absolute;
    top: 59.5%;
    right: 2%;
    width: 250px;
    height: 250px;
    pointer-events: none;
    z-index: 5;
}

.GreenPaintImage {
    width: 100%;
    height: 100%;
    background-image: url('/images/greenPaint.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-120deg);
}

.BluePaintWrapper {
    position: absolute;
    top: 73.2%;
    left: 3%;
    width: 220px;
    height: 220px;
    pointer-events: none;
    z-index: 5;
}

.BluePaintImage {
    width: 100%;
    height: 100%;
    background-image: url('/images/bluePaint.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(115deg);
}

@media (min-width: 992px) {
    .Projects {
        flex-direction: column;
        margin-top: 0;
    }
    .MoreProjects {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .RedPaintWrapper, .YellowPaintWrapper, .GreenPaintWrapper, .BluePaintWrapper {
        visibility: hidden;
    }
}


@media (max-width: 1320px) {
    

    .RedPaintImage {
        transform: rotate(160deg);
    }

    .RedPaintWrapper {
        top: 9.5%;
        right: 7%;
    }

    .YellowPaintWrapper {
        width: 220px;
        height: 220px;
        top: 22%;
        left: 13%;
    }
    
    .YellowPaintImage {
        transform: rotate(-10deg);
    }

    .GreenPaintWrapper {
        top: 57.5%;
        right: 8%;
    }
    
    .GreenPaintImage {
        transform: rotate(-20deg);
    }

    .BluePaintWrapper {
        top: 71%;
        left: 24%;
    }
    
    .BluePaintImage {
        transform: rotate(200deg);
    }

}
